#est {
    position: absolute;
    width: 19px;
    height: 19px;
    padding: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(220, 220, 220);
    border-image: initial;
    border-radius: 5px;
    background-size: 18px 18px;
    background-color: rgb(245, 245, 245);
    background-image: url('chrome-extension://__MSG_@@extension_id__/icons/32.png');
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: content-box;
    cursor: pointer;
    z-index: 2147483647;
    transform: translate(-50%, -50%);
    display: none;
}

#est:hover {
    background-color: rgb(248, 248, 248);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(198, 198, 198);
    border-image: initial;
}
